*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    text-align: center;
    letter-spacing: 3px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container p{
    color: white;
    padding-top: 31vh;
}
.p1{
    color: white;
   
}
